/* ENVIRONMENT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* CONTROLS */
#button-box {
    width: 200px;
    height: 100px;
    border: solid 1px rgb(31,234,0);
    color: rgb(31,234,0);
}

.button {
    width: 200px;
    height: 50px;
    border: solid 1px rgb(31,234,0);
    cursor: pointer;
}

/* POSITIONING */
#plane {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}

#container {
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s infinite normal linear;
}

@keyframes rotate {
    0% {
        transform: rotate3d(1, 1, 1, -360deg);
    }
}

/* OBJECTS */
.face {
    position: absolute;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    overflow: hidden;

    display: flex;
    flex-flow: row wrap;
}

.letters {
    height: 100px;
    width: 100px;
    border: solid 1px rgb(31,234,0);
    color: rgb(31,234,0);

    text-align: center;
    line-height: 100px;
    font-size: 5rem;
}

.drop {
    animation: 100ms 1 normal linear drop;
}

@keyframes drop {
    0% {
        transform: matrix(1, 2, 3, 4, 5, 6);
    }
    100% {
        transform: scale(1);
    }
}

/* CUBE */
.cube0 {
    transform: translateZ(250px);

}

.cube1 {
    transform: translateZ(-250px);

}

.cube2 {
    transform: translateX(250px) rotateY(90deg);

}

.cube3 {
    transform: translateX(-250px) rotateY(90deg);

}

.cube4 {
    transform: translateY(250px) rotateX(90deg);
}

.cube5 {
    transform: translateY(-250px) rotateX(90deg);
}

/* WHEEL */

.wheel0 {
    transform: translateZ(230px) translateX(350px) rotateY(67.5deg);
    animation-fill-mode: forwards;
    animation: wheel0 3s 1 normal ease-in-out;
}

.wheel1 {
    transform: translateZ(230px) translateX(-350px) rotateY(-67.5deg);
    animation-fill-mode: forwards;
    animation: wheel1 3s 1 normal ease-in-out;
}

.wheel2 {
    transform: translateZ(-230px) translateX(350px) rotateY(-67.5deg);
    animation-fill-mode: forwards;
    animation: wheel2 3s 1 normal ease-in-out;
}

.wheel3 {
    transform: translateZ(-230px) translateX(-350px) rotateY(67.5deg);
    animation-fill-mode: forwards;
    animation: wheel3 3s 1 normal ease-in-out;
}

.wheel4 {
    transform: translateZ(460px);
    animation-fill-mode: forwards;
    animation: wheel4 3s 1 normal ease-in-out;
}

.wheel5 {
    transform: translateZ(-460px);
    animation-fill-mode: forwards;
    animation: wheel5 3s 1 normal ease-in-out;
}

/* CUBE TO WHEEL ANIMATIONS */
@keyframes wheel0 {
    0% {
        transform: translateZ(250px);
    }
    100% {
        transform: translateZ(230px) translateX(350px) rotateY(67.5deg);
    }
}

@keyframes wheel1 {
    0% {
        transform: translateZ(-250px);
    }
    100% {
        transform: translateZ(230px) translateX(-350px) rotateY(-67.5deg);
    }
}

@keyframes wheel2 {
    0% {
        transform: translateX(250px) rotateY(90deg);
    }
    100% {
        transform: translateZ(-230px) translateX(350px) rotateY(-67.5deg);
    }
}

@keyframes wheel3 {
    0% {
        transform: translateX(-250px) rotateY(90deg);
    }
    100% {
        transform: translateZ(-230px) translateX(-350px) rotateY(67.5deg);
    }
}

@keyframes wheel4 {
    0% {
        transform: translateY(250px) rotateX(90deg);
    }
    100% {
        animation: wheel4 3s 1 normal ease-in-out;
    }
}

@keyframes wheel5 {
    0% {
        transform: translateY(-250px) rotateX(90deg);
    }
    100% {
        animation: wheel5 3s 1 normal ease-in-out;
    }
}

/* WHEEL TO CUBE ANIMATIONS */


